body {
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
    font-size: 13px;
}

.logo {
    padding-left: 0;
    float: left;
    color: white;
}

.logo img {
    margin-left: 630px;
    margin-top: 10px;
}

#header {
    position: relative;
    padding-bottom: 130px;
    background-color: #20d63e;
}

#facebook-login {
    /*estilização do login cadastro*/
    border: 1px solid darkgrey;
    border-radius: 5px;
    font-size: 11px;
    width: 650px;
    height: auto;
    margin: auto;
    margin-top: 70px;
}

#facebook-login #title {
    width: 100%;
    color: #09db3e;
    font-size: 20.5px;
    line-height: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#facebook-login #title h2 {
    padding-left: 20px;
    padding-top: 2px;
}

#content-wapper #lang {
    width: 650px;
    height: auto;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 60px;
    font-size: 11px;
    padding: 3px;
}

#tbl-login {
    width: 100%;
    padding: 30px;
}

#tbl-login .label-text {
    padding-left: 100px;
    font-weight: bold;
    color: gray;
}

#footer {
    border-top: 1px solid darkgray;
    width: 100%;
    float: left;
}

#footer #link-pages {
    padding-left: 220px;
}

#footer #link-pages a,
#footer #copyright a {
    color: #3a5795;
    text-decoration-line: none;
}

#footer #link-pages a:hover,
#footer #copyright a:hover {
    color: #3a5795;
    text-decoration: underline;
    cursor: pointer;
}

#footer #copyright {
    padding-left: 220px;
    color: gray;
}